NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=24460278459e4a4ed101da191524a557
NEXT_PUBLIC_SOMNIA_RPC=https://api.infra.testnet.somnia.network/
NEXT_PUBLIC_SOMNIA_RPC_FALLBACK=https://dream-rpc.somnia.network
NEXT_PUBLIC_SOMNIA_CHAIN_ID=50312
NEXT_PUBLIC_SOMNIA_EXPLORER_URL=https://shannon-explorer.somnia.network
NEXT_PUBLIC_ETH_RPC=https://rpc.ankr.com/eth
NEXT_PUBLIC_ETH_RPC_FALLBACK=https://rpc.ankr.com/eth
NEXT_PUBLIC_BASE_RPC=https://rpc.ankr.com/base
NEXT_PUBLIC_BASE_RPC_FALLBACK=https://rpc.ankr.com/base
NEXT_PUBLIC_ARB_RPC=https://rpc.ankr.com/arbitrum
NEXT_PUBLIC_ARB_RPC_FALLBACK=https://rpc.ankr.com/arbitrum
API_URL=http://localhost:3001
AGENT_URL=http://localhost:3002
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_AGENT_URL=http://localhost:3002
ALLOW_DEMO_AGENT=false
NEXT_PUBLIC_EXECUTION_PROXY_SOMNIA=0x62ABDCFab87fbE9D66893C389C7D1B8AF6ffb9E5
NEXT_PUBLIC_EXECUTION_PROXY_ETH=0x
