NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_MONAD_RPC=https://testnet-rpc.monad.xyz
NEXT_PUBLIC_MONAD_RPC_FALLBACK=https://rpc.ankr.com/monad_testnet
NEXT_PUBLIC_MONAD_CHAIN_ID=10143
NEXT_PUBLIC_MONAD_EXPLORER_URL=https://testnet.monadvision.com
NEXT_PUBLIC_ETH_RPC=https://rpc.ankr.com/eth
NEXT_PUBLIC_BASE_RPC=https://rpc.ankr.com/base
NEXT_PUBLIC_ARB_RPC=https://rpc.ankr.com/arbitrum
NEXT_PUBLIC_EXECUTION_PROXY_MONAD=0x62ABDCFab87fbE9D66893C389C7D1B8AF6ffb9E5
NEXT_PUBLIC_EXECUTION_PROXY_ETH=0x
AGENT_URL=https://somnia-agent-agent.onrender.com
NEXT_PUBLIC_AGENT_URL=https://somnia-agent-agent.onrender.com
API_URL=https://somnia-agent-api.onrender.com
NEXT_PUBLIC_API_URL=https://somnia-agent-api.onrender.com
ALLOW_DEMO_AGENT=false
